
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Login</title>
	<link
	  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
	  rel="stylesheet"
	/>
	<link rel="stylesheet" href="https://serwer2340828.home.pl/wwwroot/css/tailwind.output.css" />
	<script
	  src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
	  defer
	></script>
	<script src="/public/scripts/init-alpine.js"></script>
  </head>
  <body>
	<div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
	  <div
		class="flex-1 h-full max-w-4xl   dark:bg-gray-800 mx-auto overflow-hidden bg-white rounded-lg shadow-xl "
	  >
		<div class="flex items-center justify-center   dark:bg-gray-800 flex-col overflow-y-auto md:flex-row">

		  <div class="flex items-center  dark:bg-gray-800 justify-center p-6 sm:p-12 md:w-1/2">
			<div class="w-full  " >
			  <h1
				class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200"
			  >
			  Login
			  <br>
			  <br>


			<form method="post" action="/login">
			  <label class="block text-sm">
				<span class="text-gray-700 dark:text-gray-400">Username</span>
				<input
				  class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
				  placeholder="Username"
				  id = "UserName"
                  name = "username"
			

				/>
			  </label>
			  <label class="block mt-4 text-sm">
				<span class="text-gray-700 dark:text-gray-400">Password</span>
				<input
				  class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
				  placeholder="*******"
				  type="password"
		
				  id = "PassWord"
                  name = "password"
				/>
			  </label>

				   <label>
			<input type="checkbox" class="text-sm"   name="savePassword" id = "savePassword" />
			Save password
			</label>


			
				<br />
						<br />
						<label class="dark:text-red-400 " > </label>
				
			
			  <button
				class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
				type="submit"
				onclick = "savePasswordFunc()"
			  >

				Log in
			  </button>
			</form>





			</div>
		  </div>
		</div>
	  </div>
	</div>


	<script>

		var isSavePasswordEnable = localStorage.getItem("isSavePasswordEnable");

		var password = document.getElementById("PassWord");
		var username = document.getElementById("UserName");



		var checkbox = document.getElementById("savePassword");



		if(isSavePasswordEnable!=null)
		{
			if(isSavePasswordEnable == "true")
			{

				password.value = localStorage.getItem("savedPassword");
				username.value = localStorage.getItem("savedUsername");
				checkbox.checked = true;

			}
			else
			{

				 checkbox.checked = false;
			}
		}
		else
		{
			checkbox.checked = false;
		}

		function savePasswordFunc() {




			if(checkbox.checked)
			{

				 localStorage.setItem("isSavePasswordEnable" , "true");
				 localStorage.setItem("savedPassword", password.value);
				 localStorage.setItem("savedUsername", username.value);



			}
			else
			{
				  localStorage.setItem("isSavePasswordEnable" , "false");
			}




		}


	</script>


  </body>
</html>