



<div class="container px-6 mx-auto grid">
				<h4
			class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"
		  >

		  </h4>
	<div class="grid   gap-6 mb-8 md:grid-cols-3 xl:grid-cols-3">

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>

				<h4 class=" text-lg font-semibold text-gray-600 dark:text-gray-300">
					Chests
				</h4>


				<h2 class="mt-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
					Type
				</h2>



				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingChestGreen" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Green</span>
				</label>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingChestBlue" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Blue</span>
				</label>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingChestPurple" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Purple</span>
				</label>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingChestYellow" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Yellow</span>
				</label>
			</div>
		</div>



		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
			<div>

				<h4 class=" text-lg font-semibold text-gray-600 dark:text-gray-300">
					Mist
				</h4>


				<h2 class="mt-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
					Type
				</h2>

				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingMistSolo" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Solo</span>
				</label>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingMistDuo" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Duo</span>
				</label>


				<h2 class="mt-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
					Enchant
				</h2>

				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingMistE0" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">E0</span>
				</label>
				<label class="flex items-center space-x-2">
					<input  type="checkbox" id="settingMistE1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">E1</span>
				</label>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingMistE2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">E2</span>
				</label>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingMistE3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">E3</span>
				</label>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingMistE4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">E4</span>
				</label>

			</div>
		</div>


		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
			<div>

				<h4 class=" text-lg font-semibold text-gray-600 dark:text-gray-300">
					Dungeons
				</h4>


				<h2 class="mt-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
					Type
				</h2>
				<label  id="disabled-checkbox" for="disabled-checkbox" class="flex items-center space-x-2">
					<input  type="checkbox" id="settingDungeonSolo" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Solo</span>
				</label>
				<label class="flex items-center space-x-2">
					<input  type="checkbox" id="settingDungeonDuo" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Duo</span>
				</label>

				<h2 class="mt-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
					Enchant
				</h2>
				<label for="disabled-checkbox" class="flex items-center space-x-2">
					<input  type="checkbox" id="settingDungeonE0" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">E0</span>
				</label>

				<label  for="disabled-checkbox" class="flex items-center space-x-2">
					<input  type="checkbox" id="settingDungeonE1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">E1</span>
				</label>

				<labe for="disabled-checkbox" l class="flex items-center space-x-2">
					<input  type="checkbox" id="settingDungeonE2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">E2</span>
				</labe>
				<label  for="disabled-checkbox" class="flex items-center space-x-2">
					<input  type="checkbox" id="settingDungeonE3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">E3</span>
				</label>

				<label class="flex items-center space-x-2">
					<input  type="checkbox" id="settingDungeonE4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">E4</span>
				</label>

				<h2 class="mt-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
					Corrupt
				</h2>

				<label class="flex items-center space-x-2">
					<input disabled type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Enabled</span>
				</label>

				<h2 class="mt-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
					Hellgate
				</h2>

				<label class="flex items-center space-x-2">
					<input disabled type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Enabled</span>
				</label>


			</div>
		</div>


	</div>
</div>

<script>

				 function returnLocalBool(item) {
				if (localStorage.getItem(item) == "true") {
					return true;
				}
				else {
					return false;
				}


			}
			let settingChestGreen = document.getElementById("settingChestGreen");
			let settingChestBlue = document.getElementById("settingChestBlue");
			let settingChestPurple = document.getElementById("settingChestPurple");
			let settingChestYellow = document.getElementById("settingChestYellow");



			settingChestGreen.checked = returnLocalBool("settingChestGreen");
			settingChestBlue.checked = returnLocalBool("settingChestBlue");
			settingChestPurple.checked = returnLocalBool("settingChestPurple");
			settingChestYellow.checked = returnLocalBool("settingChestYellow");
	

			settingChestGreen.addEventListener("click", () => {
				localStorage.setItem("settingChestGreen", settingChestGreen.checked);
			});

			settingChestBlue.addEventListener("click", () => {
				localStorage.setItem("settingChestBlue", settingChestBlue.checked);
			});

			settingChestPurple.addEventListener("click", () => {
				localStorage.setItem("settingChestPurple", settingChestPurple.checked);
			});

			settingChestYellow.addEventListener("click", () => {
				localStorage.setItem("settingChestYellow", settingChestYellow.checked);
			});




			let settingMistSolo = document.getElementById("settingMistSolo");
			let settingMistDuo = document.getElementById("settingMistDuo");

			let settingMistE0 = document.getElementById("settingMistE0");
			let settingMistE1 = document.getElementById("settingMistE1");
			let settingMistE2 = document.getElementById("settingMistE2");
			let settingMistE3 = document.getElementById("settingMistE3");
			let settingMistE4 = document.getElementById("settingMistE4");


			settingMistSolo.checked = returnLocalBool("settingMistSolo");
			settingMistDuo.checked = returnLocalBool("settingMistDuo");

			settingMistE0.checked = returnLocalBool("settingMistE0");
			settingMistE1.checked = returnLocalBool("settingMistE1");
			settingMistE2.checked = returnLocalBool("settingMistE2");
			settingMistE3.checked = returnLocalBool("settingMistE3");
			settingMistE4.checked = returnLocalBool("settingMistE4");



			settingMistSolo.addEventListener("click", () => {
				localStorage.setItem("settingMistSolo", settingMistSolo.checked);
			});

			settingMistDuo.addEventListener("click", () => {
				localStorage.setItem("settingMistDuo", settingMistDuo.checked);
			});

			settingMistE0.addEventListener("click", () => {
				localStorage.setItem("settingMistE0", settingMistE0.checked);
			});

			settingMistE1.addEventListener("click", () => {
				localStorage.setItem("settingMistE1", settingMistE1.checked);
			});


			settingMistE2.addEventListener("click", () => {
				localStorage.setItem("settingMistE2", settingMistE2.checked);
			});

			settingMistE3.addEventListener("click", () => {
				localStorage.setItem("settingMistE3", settingMistE3.checked);
			});

			settingMistE4.addEventListener("click", () => {
				localStorage.setItem("settingMistE4", settingMistE4.checked);
			});






			let settingDungeonSolo = document.getElementById("settingDungeonSolo");
			let settingDungeonDuo = document.getElementById("settingDungeonDuo");
					
			let settingDungeonE0 = document.getElementById("settingDungeonE0");
			let settingDungeonE1 = document.getElementById("settingDungeonE1");
			let settingDungeonE2 = document.getElementById("settingDungeonE2");
			let settingDungeonE3 = document.getElementById("settingDungeonE3");
			let settingDungeonE4 = document.getElementById("settingDungeonE4");


			settingDungeonSolo.checked = returnLocalBool("settingDungeonSolo");
			settingDungeonDuo.checked = returnLocalBool("settingDungeonDuo");

			settingDungeonE0.checked = returnLocalBool("settingDungeonE0");
			settingDungeonE1.checked = returnLocalBool("settingDungeonE1");
			settingDungeonE2.checked = returnLocalBool("settingDungeonE2");
			settingDungeonE3.checked = returnLocalBool("settingDungeonE3");
			settingDungeonE4.checked = returnLocalBool("settingDungeonE4");




			settingDungeonSolo.addEventListener("click", () => {
				localStorage.setItem("settingDungeonSolo", settingDungeonSolo.checked);
			});

			settingDungeonDuo.addEventListener("click", () => {
				localStorage.setItem("settingDungeonDuo", settingDungeonDuo.checked);
			});

			settingDungeonE0.addEventListener("click", () => {
				localStorage.setItem("settingDungeonE0", settingDungeonE0.checked);
			});

			settingDungeonE1.addEventListener("click", () => {
				localStorage.setItem("settingDungeonE1", settingDungeonE1.checked);
			});


			settingDungeonE2.addEventListener("click", () => {
				localStorage.setItem("settingDungeonE2", settingDungeonE2.checked);
			});

			settingDungeonE3.addEventListener("click", () => {
				localStorage.setItem("settingDungeonE3", settingDungeonE3.checked);
			});

			settingDungeonE4.addEventListener("click", () => {
				localStorage.setItem("settingDungeonE4", settingDungeonE4.checked);
			});

</script>