



<div class="container px-6 mx-auto grid">
				<h4
			class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"
		  >

		  </h4>
	<div class="grid   gap-6 mb-8 md:grid-cols-3 xl:grid-cols-3">

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>

				<h4 class=" text-lg font-semibold text-gray-600 dark:text-gray-300">
					Raw
				</h4>


				<h2 class="mt-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
					Tiers
				</h2>
				<div class="grid   gap-6 mb-8 md:grid-cols-2 xl:grid-cols-2">
					<div>

						<label class="flex items-center space-x-2">
							<input type="checkbox" id="settingRawT1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<span class="dark:text-white ml-4">T1</span>
						</label>
						<label class="flex items-center space-x-2">
							<input type="checkbox" id="settingRawT3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<span class="dark:text-white ml-4">T3</span>
						</label>
						<label class="flex items-center space-x-2">
							<input type="checkbox" id="settingRawT5" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<span class="dark:text-white ml-4">T5</span>
						</label>
						<label class="flex items-center space-x-2">
							<input type="checkbox" id="settingRawT7" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<span class="dark:text-white ml-4">T7</span>
						</label>

					</div>

					<div>
						<label class="flex items-center space-x-2">
							<input type="checkbox" id="settingRawT2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<span class="dark:text-white ml-4">T2</span>
						</label>
						<label class="flex items-center space-x-2">
							<input type="checkbox" id="settingRawT4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<span class="dark:text-white ml-4">T4</span>
						</label>
						<label class="flex items-center space-x-2">
							<input type="checkbox" id="settingRawT6" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<span class="dark:text-white ml-4">T6</span>
						</label>
						<label class="flex items-center space-x-2">
							<input type="checkbox" id="settingRawT8" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<span class="dark:text-white ml-4">T8</span>
						</label>
					</div>


				</div>

				<h2 class="mt-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
					Enchant
				</h2>

				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingRawE0" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">E0</span>
				</label>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingRawE1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">E1</span>
				</label>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingRawE2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">E2</span>
				</label>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingRawE3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">E3</span>
				</label>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingRawE4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">E4</span>
				</label>


				<h2 class="mt-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
					Type
				</h2>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingRawFiber" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Fiber</span>
				</label>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingRawWood" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Wood</span>
				</label>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingRawOre" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Ore</span>
				</label>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingRawRock" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Rock</span>
				</label>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingRawHide" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Hide</span>
				</label>
				<h2 class=" text-lg font-semibold text-gray-600 dark:text-gray-300">
					Other
				</h2>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingRawSize" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Size</span>
				</label>

			


			</div>
		</div>



		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
			<div>
			
				<h4 class=" text-lg font-semibold text-gray-600 dark:text-gray-300">
					Mobs
				</h4>


				<h2 class="mt-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
					Tiers
				</h2>

				<div class="grid   gap-6 mb-8 md:grid-cols-2 xl:grid-cols-2">
					<div>

						<label class="flex items-center space-x-2">
							<input type="checkbox" id="settingMobT1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<span class="dark:text-white ml-4">T1</span>
						</label>
						<label class="flex items-center space-x-2">
							<input type="checkbox" id="settingMobT3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<span class="dark:text-white ml-4">T3</span>
						</label>
						<label class="flex items-center space-x-2">
							<input type="checkbox" id="settingMobT5" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<span class="dark:text-white ml-4">T5</span>
						</label>
						<label class="flex items-center space-x-2">
							<input type="checkbox" id="settingMobT7" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<span class="dark:text-white ml-4">T7</span>
						</label>

					</div>

					<div>
						<label class="flex items-center space-x-2">
							<input type="checkbox" id="settingMobT2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<span class="dark:text-white ml-4">T2</span>
						</label>
						<label class="flex items-center space-x-2">
							<input type="checkbox" id="settingMobT4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<span class="dark:text-white ml-4">T4</span>
						</label>
						<label class="flex items-center space-x-2">
							<input type="checkbox" id="settingMobT6" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<span class="dark:text-white ml-4">T6</span>
						</label>
						<label class="flex items-center space-x-2">
							<input type="checkbox" id="settingMobT8" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<span class="dark:text-white ml-4">T8</span>
						</label>
					</div>


				</div>

				<h2 class="mt-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
					Enchant
				</h2>

				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingMobE0" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">E0</span>
				</label>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingMobE1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">E1</span>
				</label>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingMobE2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">E2</span>
				</label>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingMobE3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">E3</span>
				</label>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingMobE4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">E4</span>
				</label>

				<h2 class="mt-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
					Type
				</h2>

				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingMobHarvestable" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Harvestable</span>
				</label>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingMobSkinnable" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Skinnable</span>
				</label>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingMobOther" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Other</span>
				</label>
	

				<h2 class="mt-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
					Other
				</h2>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingMobShowHp" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Show hp</span>
				</label>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingMobDevMode" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Dev mode</span>
				</label>
			</div>
		</div>
		

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
			<div>
			
				<h4 class=" text-lg font-semibold text-gray-600 dark:text-gray-300">
					Bosses
				</h4>




				<h2 class="mt-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
					Other
				</h2>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingBossesOtherBosses" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Other Bosses</span>
				</label>
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingBossesAvaloneDrones" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Avalone Drones</span>
				</label>

				<h2 class="mt-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
					Mists
				</h2>
				<label class="flex items-center space-x-2">
					<input disabled  type="checkbox" id="settingBossesCrystalSpider" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Crystal Spider</span>
				</label>
				<label class="flex items-center space-x-2">
					<input  disabled  type="checkbox" id="settingBossesFairyDragon" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Fairy Dragon</span>
				</label>
				<label class="flex items-center space-x-2">
					<input disabled  type="checkbox" id="settingBossesVeilWeaver" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Veil Weaver</span>
				</label>
				<label class="flex items-center space-x-2">
					<input disabled  type="checkbox" id="settingBossesGriffin" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Grifin</span>
				</label>
			</div>
		</div>


	</div>
</div>

<script>

			function returnLocalBool(item) {
				if (localStorage.getItem(item) == "true") {
					return true;
				}
				else {
					return false;
				}


			}

			let settingRawT1 = document.getElementById("settingRawT1");
			let settingRawT2 = document.getElementById("settingRawT2");
			let settingRawT3 = document.getElementById("settingRawT3");
			let settingRawT4 = document.getElementById("settingRawT4");
			let settingRawT5 = document.getElementById("settingRawT5");
			let settingRawT6 = document.getElementById("settingRawT6");
			let settingRawT7 = document.getElementById("settingRawT7");
			let settingRawT8 = document.getElementById("settingRawT8");


			let settingRawE0 = document.getElementById("settingRawE0");
			let settingRawE1 = document.getElementById("settingRawE1");
			let settingRawE2 = document.getElementById("settingRawE2");
			let settingRawE3 = document.getElementById("settingRawE3");
			let settingRawE4 = document.getElementById("settingRawE4");

			let settingRawFiber = document.getElementById("settingRawFiber");
			let settingRawWood = document.getElementById("settingRawWood");
			let settingRawOre = document.getElementById("settingRawOre");
			let settingRawRock = document.getElementById("settingRawRock");
			let settingRawHide= document.getElementById("settingRawHide");


			let settingRawSize = document.getElementById("settingRawSize");

			settingRawT1.checked = returnLocalBool("settingRawT1");
			settingRawT2.checked = returnLocalBool("settingRawT2");
			settingRawT3.checked = returnLocalBool("settingRawT3");
			settingRawT4.checked = returnLocalBool("settingRawT4");
			settingRawT5.checked = returnLocalBool("settingRawT5");
			settingRawT6.checked = returnLocalBool("settingRawT6");
			settingRawT7.checked = returnLocalBool("settingRawT7");
			settingRawT8.checked = returnLocalBool("settingRawT8");

			settingRawE0.checked = returnLocalBool("settingRawE0");
			settingRawE1.checked = returnLocalBool("settingRawE1");
			settingRawE2.checked = returnLocalBool("settingRawE2");
			settingRawE3.checked = returnLocalBool("settingRawE3");
			settingRawE4.checked = returnLocalBool("settingRawE4");


			settingRawFiber.checked = returnLocalBool("settingRawFiber");
			settingRawWood.checked = returnLocalBool("settingRawWood");
			settingRawOre.checked = returnLocalBool("settingRawOre");
			settingRawRock.checked = returnLocalBool("settingRawRock");
			settingRawHide.checked = returnLocalBool("settingRawHide");

			settingRawSize.checked = returnLocalBool("settingRawSize");

			settingRawT1.addEventListener("click", () => {localStorage.setItem("settingRawT1", settingRawT1.checked);});
			settingRawT2.addEventListener("click", () => {localStorage.setItem("settingRawT2", settingRawT2.checked);});
			settingRawT3.addEventListener("click", () => {localStorage.setItem("settingRawT3", settingRawT3.checked);});
			settingRawT4.addEventListener("click", () => {localStorage.setItem("settingRawT4", settingRawT4.checked);});
			settingRawT5.addEventListener("click", () => {localStorage.setItem("settingRawT5", settingRawT5.checked);});
			settingRawT6.addEventListener("click", () => {localStorage.setItem("settingRawT6", settingRawT6.checked);});
			settingRawT7.addEventListener("click", () => {localStorage.setItem("settingRawT7", settingRawT7.checked);});
			settingRawT8.addEventListener("click", () => {localStorage.setItem("settingRawT8", settingRawT8.checked);});

			settingRawE0.addEventListener("click", () => {localStorage.setItem("settingRawE0", settingRawE0.checked);});
			settingRawE1.addEventListener("click", () => {localStorage.setItem("settingRawE1", settingRawE1.checked);});
			settingRawE2.addEventListener("click", () => {localStorage.setItem("settingRawE2", settingRawE2.checked);});
			settingRawE3.addEventListener("click", () => {localStorage.setItem("settingRawE3", settingRawE3.checked);});
		    settingRawE4.addEventListener("click", () => {localStorage.setItem("settingRawE4", settingRawE4.checked);});
			settingRawFiber.addEventListener("click", () => {localStorage.setItem("settingRawFiber", settingRawFiber.checked);});
			settingRawWood.addEventListener("click", () => {localStorage.setItem("settingRawWood", settingRawWood.checked);});
			settingRawOre.addEventListener("click", () => {localStorage.setItem("settingRawOre", settingRawOre.checked);});
			settingRawRock.addEventListener("click", () => {localStorage.setItem("settingRawRock", settingRawRock.checked);});
			settingRawHide.addEventListener("click", () => {localStorage.setItem("settingRawHide", settingRawHide.checked);});

			settingRawSize.addEventListener("click", () => {localStorage.setItem("settingRawSize", settingRawSize.checked);});


			let settingMobT1 = document.getElementById("settingMobT1");
			let settingMobT2 = document.getElementById("settingMobT2");
			let settingMobT3 = document.getElementById("settingMobT3");
			let settingMobT4 = document.getElementById("settingMobT4");
			let settingMobT5 = document.getElementById("settingMobT5");
			let settingMobT6 = document.getElementById("settingMobT6");
			let settingMobT7 = document.getElementById("settingMobT7");
			let settingMobT8 = document.getElementById("settingMobT8");


			let settingMobE0 = document.getElementById("settingMobE0");
			let settingMobE1 = document.getElementById("settingMobE1");
			let settingMobE2 = document.getElementById("settingMobE2");
			let settingMobE3 = document.getElementById("settingMobE3");
			let settingMobE4 = document.getElementById("settingMobE4");
				

			let settingMobHarvestable = document.getElementById("settingMobHarvestable");
			let settingMobSkinnable = document.getElementById("settingMobSkinnable");
			let settingMobOther = document.getElementById("settingMobOther");


			let settingMobShowHp = document.getElementById("settingMobShowHp");
			let settingMobDevMode = document.getElementById("settingMobDevMode");


			settingMobT1.checked = returnLocalBool("settingMobT1");
			settingMobT2.checked = returnLocalBool("settingMobT2");
			settingMobT3.checked = returnLocalBool("settingMobT3");
			settingMobT4.checked = returnLocalBool("settingMobT4");
			settingMobT5.checked = returnLocalBool("settingMobT5");
			settingMobT6.checked = returnLocalBool("settingMobT6");
			settingMobT7.checked = returnLocalBool("settingMobT7");
			settingMobT8.checked = returnLocalBool("settingMobT8");


			settingMobE0.checked = returnLocalBool("settingMobE0");
			settingMobE1.checked = returnLocalBool("settingMobE1");
			settingMobE2.checked = returnLocalBool("settingMobE2");
			settingMobE3.checked = returnLocalBool("settingMobE3");
			settingMobE4.checked = returnLocalBool("settingMobE4");

			settingMobHarvestable.checked = returnLocalBool("settingMobHarvestable");
			settingMobSkinnable.checked = returnLocalBool("settingMobSkinnable");
			settingMobOther.checked = returnLocalBool("settingMobOther");


			settingMobShowHp.checked = returnLocalBool("settingMobShowHp");
			settingMobDevMode.checked = returnLocalBool("settingMobDevMode");


			settingMobT1.addEventListener("click", () => {localStorage.setItem("settingMobT1", settingMobT1.checked);});
			settingMobT2.addEventListener("click", () => {localStorage.setItem("settingMobT2", settingMobT2.checked);});
			settingMobT3.addEventListener("click", () => {localStorage.setItem("settingMobT3", settingMobT3.checked);});
			settingMobT4.addEventListener("click", () => {localStorage.setItem("settingMobT4", settingMobT4.checked);});
			settingMobT5.addEventListener("click", () => {localStorage.setItem("settingMobT5", settingMobT5.checked);});
			settingMobT6.addEventListener("click", () => {localStorage.setItem("settingMobT6", settingMobT6.checked);});
			settingMobT7.addEventListener("click", () => {localStorage.setItem("settingMobT7", settingMobT7.checked);});
			settingMobT8.addEventListener("click", () => {localStorage.setItem("settingMobT8", settingMobT8.checked);});


			settingMobE0.addEventListener("click", () => {localStorage.setItem("settingMobE0", settingMobE0.checked);});
			settingMobE1.addEventListener("click", () => {localStorage.setItem("settingMobE1", settingMobE1.checked);});
			settingMobE2.addEventListener("click", () => {localStorage.setItem("settingMobE2", settingMobE2.checked);});
			settingMobE3.addEventListener("click", () => {localStorage.setItem("settingMobE3", settingMobE3.checked);});
			settingMobE4.addEventListener("click", () => {localStorage.setItem("settingMobE4", settingMobE4.checked);});


			settingMobHarvestable.addEventListener("click", () => {localStorage.setItem("settingMobHarvestable", settingMobHarvestable.checked);});
			settingMobSkinnable.addEventListener("click", () => {localStorage.setItem("settingMobSkinnable", settingMobSkinnable.checked);});
			settingMobOther.addEventListener("click", () => {localStorage.setItem("settingMobOther", settingMobOther.checked);});


			settingMobShowHp.addEventListener("click", () => {localStorage.setItem("settingMobShowHp", settingMobShowHp.checked);});
			settingMobDevMode.addEventListener("click", () => {localStorage.setItem("settingMobDevMode", settingMobDevMode.checked);});





			let settingBossesCrystalSpider = document.getElementById("settingBossesCrystalSpider");
			let settingBossesFairyDragon = document.getElementById("settingBossesFairyDragon");
			let settingBossesVeilWeaver = document.getElementById("settingBossesVeilWeaver");
			let settingBossesGriffin = document.getElementById("settingBossesGriffin");


			let settingBossesOtherBosses= document.getElementById("settingBossesOtherBosses");
			let settingBossesAvaloneDrones= document.getElementById("settingBossesAvaloneDrones");
	



			settingBossesCrystalSpider.checked = returnLocalBool("settingBossesCrystalSpider");
			settingBossesFairyDragon.checked = returnLocalBool("settingBossesFairyDragon");
			settingBossesVeilWeaver.checked = returnLocalBool("settingBossesVeilWeaver");
			settingBossesGriffin.checked = returnLocalBool("settingBossesGriffin");

			settingBossesOtherBosses.checked = returnLocalBool("settingBossesOtherBosses");
			settingBossesAvaloneDrones.checked = returnLocalBool("settingBossesAvaloneDrones");


			settingBossesCrystalSpider.addEventListener("click", () => {localStorage.setItem("settingBossesCrystalSpider", settingBossesCrystalSpider.checked);});
			settingBossesFairyDragon.addEventListener("click", () => {localStorage.setItem("settingBossesFairyDragon", settingBossesFairyDragon.checked);});
			settingBossesVeilWeaver.addEventListener("click", () => {localStorage.setItem("settingBossesVeilWeaver", settingBossesVeilWeaver.checked);});
			settingBossesGriffin.addEventListener("click", () => {localStorage.setItem("settingBossesGriffin", settingBossesGriffin.checked);});

			settingBossesOtherBosses.addEventListener("click", () => {localStorage.setItem("settingBossesOtherBosses", settingBossesOtherBosses.checked);});
			settingBossesAvaloneDrones.addEventListener("click", () => {localStorage.setItem("settingBossesAvaloneDrones", settingBossesAvaloneDrones.checked);});
	





</script>